<!DOCTYPE html>
<html>
<head>
    <title>Cálculo de nocturnidad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cálculo de nocturnidad</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <label for="empleado">Número de empleado:</label>
        <input type="text" id="empleado" name="empleado" required><br><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="pdfs">Selecciona uno o más PDFs:</label>
        <input type="file" id="pdfs" name="pdfs" multiple required><br><br>

        <input type="submit" value="Procesar">
    </form>
</body>
</html>
